<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Chrome"  >
	<parameter name="BrowserName" value="chrome"></parameter>
    <classes>
       <!--<class name="TestNG.TestNgClass"/>-->
      <class name="com.SauceDemo.TestClasses.TC01_LoginCheck"/>
    </classes>
  </test> <!-- Test -->

<test thread-count="1" name ="Test">
	<parameter name="BrowserName" value="gecko"></parameter>
    <classes>
       <!--<class name="TestNG.TestNgClass"/>-->
      <class name="com.SauceDemo.TestClasses.TC01_LoginCheck"/>
    </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
